<section class="w-screen h-screen bg-[#D8F3DC] flex justify-center items-center gap-4">
    <article>
        <p>Create Element</p>
        <input type="text">
    </article>
    <article>
        <p>Id for element to delete o modify</p>
        <input type="text" name="id" id="id" placeholder="Id for search...">
    </article>
</section>