<section>
    <article class="bg-imageindex h-[500px]">
        <div class="w-full h-[500px] bg-black/50">
            <div class="flex flex-col h-full w-full items-center justify-center text-white">
                <h1 class="text-4xl text-center">Welcome to Pixel Gear</h1>
                <h3 class="text-4xl text-center">The best store for mechanical keyboards.</h3>
            </div>
        </div>
    </article>
</section>
<section class="bg-[#D8F3DC] flex flex-col items-center gap-4 py-20 justify-center">
    <div class="max-w-[1440px]">
        <article class="text-5xl font-bold m-5">
            <h1>Available Products</h1>
        </article>
        <article class="flex items-center justify-center gap-8 w-full h-[300px] rounded-3xl bg-[#B7E4C7]">
            {{#each products}}
            <div class="m-5 p-4">
                <a href="/products/{{this.id}} ">
                    {{#if this.title}}
                    <h2>{{this.title}}</h2>
                    {{else}}
                    <h2>No title</h2>
                    {{/if}}
                    <p>{{this.price}}</p>
                </a>
            </div>
            {{/each}}
        </article>
    </div>
</section>