<section>
    <form>
        <h2>Register Form</h2>
        <input type="text" name="name" placeholder="Name" id="name">
        <input type="email" name="email" placeholder="Email" id="email">
        <input type="password" name="password" placeholder="Password" id="password">
        <input type="text" name="photo" placeholder="Photo" id="photo">
        <input type="button" value="Register" id="register">
    </form>
</section>
<section>
    <h2>Last Users</h2>
    <span id="users"></span>
</section>