<section class="h-[500px] w-full bg-[#D8F3DC] flex flex-col items-center justify-center gap-4 text-3xl">
    <div>
        <p>Buscando usuario...</p>
        {{#if user}}
        <h1>User Information</h1>
        <p>ID: {{user.id}}</p>
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        {{else}}
        <p>No se encontro el usuario</p>
        {{/if}}
    </div>
</section>