<section class="h-[500px] w-full bg-[#D8F3DC] flex flex-col items-center justify-center gap-4 text-3xl">
    <div>
        <p>Buscando usuario...</p>
        {{#if user}}
        <p>Usuario encontrado</p>
        {{else}}
        <p>No se encontro el usuario</p>
        {{/if}}
    </div>
</section>