@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-imageindex {
    background-image: url("/public/assets/img/fondoteclado.webp");
}
.grilla {
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 1rem;
}