<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Pixel Gear</title>
</head>

<body>
    <header class="bg-black text-white flex justify-center">
        <nav class="flex gap-4">
            <div>
                <a href="/products">Products</a>
            </div>
            <div class="logo">
                <a href="/">logo</a>
            </div>
            <div class="inicioseccion">
                <a href="/users/register">
                    <span>Iniciar Sesion</span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/public/js/socket.js"></script>
</body>

</html>